/*========================================
            Titles & pararaphs
========================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-2;
}

h2 {
  font-size: $h1-size;
}

h3 {
  font-size: $lg;
}

h4 {
  font-size: $lg;
}

p {
  color: $text-gray;
  font-family: $font-2;
  font-size: $md;
}

a {
  color: $black-color;
}


