/*========================================
            Menus Pages Responsive
========================================*/

@media screen and (min-width: $sm-brk) {
  .menu-logo-wrapper,
  .menu-background-image-wrapper {
    width: 80% !important;
    margin: auto;
  }

  .menu-background-image-wrapper {
    border-radius: 40px 40px 0 0;
  }

  .menu-main {
    width: 80% !important;
    margin: auto;
    border-radius: 0 !important;
  }

  .heart {
    @include position(absolute, $right:25%!important);
    width: 2em!important;
  }

  h1 {
    text-align: center;
  }

  h2 {
    width: 25em;
    margin: auto;
  }

  .menu-cards {
    margin: 1.2em auto 0;
    width: 25em;
  }

  .menus-btn {
    width: 15em !important;
  }
}

@media screen and (min-width: $lg-brk) {
  .menu-background-image-wrapper {
    height: 22vw !important;
  }

  .menu-main {
    min-height: 40em !important;
  }

  .heart {
    @include position(absolute, $right:37%!important);
  }

  .menu-wrapper {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }

  h2 {
    width: 22em;
    margin: auto;
  }

  .menu-cards {
    margin: 1.2em auto 0;
    width: 22em;
  }
  .menus-btn {
    margin: 6em auto 0;
  }
}

@media screen and (min-width: $xl-brk) {
  h2 {
    width: 26em;
    margin: auto;
  }

  .menu-cards {
    width: 26em;
  }
}
