/*==============================
      Displaying w/ Flexbox 
==============================*/

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexBox(
  $direction: row, 
  $align: stretch, 
  $justify: flex-start
  ) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

/*==============================
        Positions setup
==============================*/

@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/*==============================
        Margins
==============================*/

@mixin globalMargin {
  width: 90%;
  margin: 0 auto;
}

/*==============================
            Shadows
==============================*/

@mixin shadow {
  box-shadow: $shadow-color 0 3px 7px;
}
