/*==============================
            Animations
==============================*/

/* Home page Animations =====================*/
.load-spinner-wrapper {
  animation: fadeOut $md-time forwards;
  animation-delay: $loader-time;
}

.load-spinner-balls {
  animation: loaderBalls 0.7s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
    alternate;
}

.title-wrapper button:hover {
  opacity: 0.8;
}

.btns-wrapper .fonctionnement-btn:hover {
  background-color: rgba(147, 86, 220, 0.15);
  cursor: pointer;
  i {
    color: $primary-color;
  }
}

.restaurants-card:hover {
  transform: scale(1.02);
}

.heart-empty:hover {
  opacity: 0;
}

/* Menus pages Animations =====================*/
main button:hover {
  opacity: 0.8;
}

.menu-card {
  animation: slideIn $lg-time forwards;
}

.menu-card:hover .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left $time ease;
  transform-origin: right;
}

.menu-card:hover .menu-card-price {
  padding-right: 4.3em;
  transition: $time ease;
}

@for $i from 1 through 4 {
  .menu-cards-wrapper div:nth-child(#{$i}) {
    animation-delay: (#{$i * 0.3s});
  }
}

/* Footer hovers =====================*/
footer a:hover,
footer h3:hover {
  opacity: 0.8;
}

/*KeyFrames =====================*/
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes loaderBalls {
  0% {
    opacity: 0.3;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(3em);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(1.2em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
