/*==============================
      Home page Buttons
==============================*/

button {
  border: none;
  box-shadow: $shadow-color 0 3px 7px;
  display: flex;
  align-items: center;
  outline: none;
  font-size: $sm;
  transition: $time;
}

.title-wrapper button {
  background: rgb(147, 86, 220);
  background: linear-gradient(
    355deg,
    rgba(147, 86, 220, 1) 20%,
    rgba(255, 121, 218, 1) 100%
  );
  border-radius: 30px;
  color: white;
  margin-top: 1.2em;
  padding: 1.2em;
  width: 60%;
  justify-content: center;
}

.btns-wrapper button {
  background-color: $lightGray-color;
  border-radius: 30px;
  margin: 0.7em 0;
  padding: 1.8em;
  position: relative;

  &:last-child {
    margin-bottom: 4em;
  }

  .btn-number {
    background-color: $primary-color;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: $white-color;
    font-size: $xs;
    @include flexCenter;
    @include position(absolute, $left: -12px);
  }

  i {
    font-size: $md;
    color: $text-gray;
  }

  h3 {
    margin: auto;
    text-align: left;
    width: 12.5em;
    font-size: $md;
  }
}

/*==============================
        Media Queries
==============================*/

/* Pads ================================*/
@media screen and (min-width: $sm-brk) {
  .title-wrapper button {
    width: 15em;
  }

  .btns-wrapper button {
    width: 22em;
  }
}

/* small desktops ================================*/
@media screen and (min-width: $md-brk) {
  .btns-wrapper button:last-child {
    margin-bottom: 0.7em;
  }
}
