/*==============================
      Home page Buttons
==============================*/

button {
  align-items: center;
  border: none;
  box-shadow: $shadow-color 0 3px 7px;
  cursor: pointer;
  display: flex;
  font-size: $sm;
  outline: none;
  transition: $time;
}

.title-wrapper button {
  background: rgb(147, 86, 220);
  background: linear-gradient(
    355deg,
    rgba(147, 86, 220, 1) 20%,
    rgba(255, 121, 218, 1) 100%
  );
  border-radius: 30px;
  color: white;
  margin-top: 1.2em;
  padding: 1.2em;
  width: 15em;
  justify-content: center;
}

.btns-wrapper .fonctionnement-btn {
  align-items: center;
  background-color: $lightGray-color;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 0.7em 0;
  padding: 1.6em;
  position: relative;
  transition: $time;
  width: 100%;
  max-width: 28em;
  box-shadow: $shadow-color 0 3px 7px;

  .btn-number {
    background-color: $primary-color;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: $white-color;
    font-size: $xs;
    @include flexCenter;
    @include position(absolute, $left: -12px);
  }

  i {
    font-size: $md;
    color: $text-gray;
  }

  h3 {
    margin: auto;
    text-align: left;
    width: 12.5em;
    font-size: $md;
  }
}

/*==============================
      Menus pages Buttons
==============================*/

.menus-btn {
  background: rgb(147, 86, 220);
  background: linear-gradient(
    355deg,
    rgba(147, 86, 220, 1) 20%,
    rgba(255, 121, 218, 1) 100%
  );
  border-radius: 30px;
  color: white;
  justify-content: center;
  margin: 3em auto 0;
  padding: 1.2em;
  width: 50%;
}
