/*==============================
    Home restaurants cards
==============================*/
.restaurants-card {
  @include position(relative);
  background-color: $white-color;
  box-shadow: $shadow-color 0 3px 7px;
  border-radius: 20px;
  margin: 0 auto 1.2em;
  width: 90%;
  transition: $time;

  &:nth-child(1):after,
  &:nth-child(2):after {
    @include position(absolute, $top: 0.8em, $right: 0.8em);
    background-color: $ternary-color;
    color: $green;
    content: "Nouveau";
    font-family: $font-2;
    font-size: $xs;
    font-weight: bolder;
    padding: 0.6em 0.8em;
  }

  &:last-child {
    margin: 0 auto;
  }

  img {
    border-radius: 20px 20px 0 0;
    height: 12em;
    object-fit: cover;
    width: 100%;
    margin-bottom: -4px;
  }

  .restaurants-card-infos {
    @include position(relative);
    background-color: $white-color;
    border-radius: 0 0 20px 20px;
    height: 5em;
    padding: 1.5em 1em;

    .heart {
      @include position(absolute, $top: 50%, $right: 1em);
      cursor: pointer;
      fill: white;
      stroke-width: 1em;
      stroke: black;
      transform: translateY(-50%);
      transition: $time;
      width: 1.5em;
    }

    .heart-filled {
      fill: url(#heart-gradient-1);
      fill: url(#heart-gradient-2);
      fill: url(#heart-gradient-3);
      fill: url(#heart-gradient-4);
      stroke: none;
    }
  }
}

/*==============================
      Menus page cards
==============================*/

.menu-cards {
  background-color: $white-color;
  border-radius: 20px;
  box-shadow: $shadow-color 0 3px 7px;
  height: 4.5em;
  margin-top: 1.2em;
  overflow: hidden;
  width: 100%;
  animation: mealSlideIn $lg-time forwards;
  opacity: 0;

  .menu-cards-infos {
    padding: 1em;
    width: 100%;

    h3 {
      font-size: $sm;
    }
    p {
      font-size: $xs;
      margin-top: 0.5em;
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    span {
      font-weight: bolder;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-radius: 20px;

    .checkbox {
      background-color: $ternary-color;
      width: 0;
      height: 100%;
      border-radius: 0 20px 20px 0;
      @include flexCenter;
      transition: width ease-in-out $time;

      i {
        font-size: $md;
        color: $white-color;
        transition: all $time;
      }
    }
  }
}
