/*========================================
                Home Page
========================================*/

/* Loader =========================*/
.load-spinner-wrapper {
  /*display: none;*/
  background-color: $primary-color;
  @include position(absolute, $top: 0, $bottom: 0, $left: 0, $right: 0);
  z-index: 5;
  position: fixed;
  animation: fadeOut $md-time forwards;
  animation-delay: $loader-time;

  .load-spinner {
    @include position(absolute, $top: 50%, $left: 50%);
    transform: translate(-50%, -50%);
    @include flexCenter;
    &-balls {
      width: 2em;
      height: 2em;
      background-color: $ternary-color;
      margin: 0 0.5em;
      border-radius: 50%;
      animation: loaderBalls 1s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
        alternate;
      @include flexCenter;
      color: $white-color;
      opacity: 0;
      font-family: $font-2;
    }

    &-balls:nth-child(even) {
      background-color: $secondary-color;
    }
  }
}

@for $i from 1 through 8 {
  .load-spinner div:nth-child(#{$i}) {
    animation-delay: (#{$i * 0.2s});
  }
}

/* Header =========================*/
header {
  background-color: $white-color;

  .logo-wrapper {
    background-color: inherit;
    padding-top: 1.3em;
    padding-bottom: 0.5em;
    width: 100%;
    text-align: center;
    box-shadow: $shadow-color 0 3px 3px;
    @include position(absolute, $top: 0);
  }
}

.localisation-wrapper {
  background-color: rgb(233, 233, 233);
  padding: 1em;
  margin-top: 4.1em;

  p {
    font-size: $md;
    font-weight: bold;
    position: relative;
    text-align: center;

    i {
      padding-right: 0.9em;
    }
  }
}

.title-wrapper {
  align-items: center;
  background-color: $lightGray-color;
  display: flex;
  flex-direction: column;
  height: 20em;

  h1 {
    color: $black-color;
    font-size: $h1-size;
    line-height: 115%;
    margin-top: 1.6em;
    text-align: center;
    width: 12em;
    margin-bottom: 0.3em;
  }

  p {
    padding: 0.7em;
    text-align: center;
    width: 19em;
  }
}

/* Main ==========================*/
main {
  .fonctionnement-wrapper {
    background-color: $white-color;
    padding-bottom: 4em;

    h2 {
      padding: 2em 0 1em;
      @include globalMargin;
    }

    .btns-wrapper {
      display: flex;
      flex-direction: column;
      @include globalMargin;
    }
  }

  .restaurants-wrapper {
    background-color: $lightGray-color;
    padding-bottom: 4.5em;

    h2 {
      padding: 2.5em 0 1em;
      @include globalMargin;
    }
  }
}
