/*========================================
                Home Page
========================================*/

/* Loader =========================*/
.load-spinner-wrapper {
  display: none;
  background-color: $ternary-color;
  @include position(absolute, $top: 0, $bottom: 0, $left: 0, $right: 0);
  z-index: 10;

  .load-spinner {
    @include position(absolute, $top: 50%, $left: 50%);
    transform: translate(-50%, -50%);

    i {
      font-size: 15vw;
      color: white;
      animation: Spinner 2s ease-in-out 0s infinite normal none;
    }
  }
}

/* Header =========================*/
header {
  background-color: $white-color;

  .logo-wrapper {
    background-color: inherit;
    padding-top: 1.3em;
    padding-bottom: 0.5em;
    width: 100%;
    text-align: center;
    box-shadow: $shadow-color 0 3px 3px;
    @include position(absolute, $top: 0);
  }
}

.localisation-wrapper {
  background-color: rgb(233, 233, 233);
  padding: 1em;
  margin-top: 4.1em;

  p {
    font-size: $md;
    font-weight: bold;
    position: relative;
    text-align: center;

    i {
      padding-right: 0.9em;
    }
  }
}

.title-wrapper {
  align-items: center;
  background-color: $lightGray-color;
  display: flex;
  flex-direction: column;
  height: 20em;

  h1 {
    color: $black-color;
    font-size: $h1-size;
    line-height: 115%;
    margin-top: 1.6em;
    text-align: center;
    width: 12em;
    margin-bottom: 0.3em;
  }

  p {
    padding: 0.7em;
    text-align: center;
    width: 19em;
  }
}

/* Main ==========================*/
main {
  .fonctionnement-wrapper {
    background-color: $white-color;
    padding-bottom: 4em;

    h2 {
      padding: 2em 0 1em;
      @include globalMargin;
    }

    .btns-wrapper {
      display: flex;
      flex-direction: column;
      @include globalMargin;
    }
  }

  .restaurants-wrapper {
    background-color: $lightGray-color;
    padding-bottom: 4.5em;

    h2 {
      padding: 2.5em 0 1em;
      @include globalMargin;
    }
  }
}
