/*========================================
                all 4 menus
========================================*/

/* Header =========================*/
.menu-logo-wrapper {
  padding-top: 1.3em;
  padding-bottom: 0.5em;
  @include flexCenter;
  position: relative;
  width: 100%;
  background-color: $white-color;
}

.menu-logo-wrapper i {
  color: rgb(59, 59, 59);
  font-size: 1.2rem;
  transform: translateY(-50%);
  @include position(absolute, $top: 60%, $left: 5%);
}

.menu-background-image-wrapper {
  height: 17.5em;
  width: 100%;
  margin: auto;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Main Section =========================*/
.menu-main {
  background-color: $lightGray-color;
  border-radius: 40px 40px 0 0;
  margin-top: -2.6em;
  padding: 2em 1em 3em;
  width: 100%;
  @include position(relative);

  h1 {
    font-size: 1.8rem;
    color: black;
    font-family: $font-1;
  }

  .heart {
    @include position(absolute, $top: 3.5em, $right: 2em);
    cursor: pointer;
    fill: white;
    stroke-width: 1em;
    stroke: black;
    transform: translateY(-50%);
    transition: $time;
    width: 1.5em;
  }

  .heart-filled {
    fill: url(#heart-gradient);
    stroke: none;
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: column;

  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;

    h2 {
      font-size: $sm;
      color: $text-gray;
      position: relative;
      font-weight: lighter;
    }

    h2:after {
      content: "";
      background-color: $ternary-color;
      height: 3px;
      width: 5ch;
      @include position(absolute, $bottom: -0.4em, $left: 0);
    }
  }
}
