.load-spinner-wrapper {
  display: none;
  background-color: $ternary-color;
  @include position(absolute, $top: 0, $bottom: 0, $left: 0, $right: 0);
  z-index: 10;

  .load-spinner {
    @include position(absolute, $top: 50%, $left: 50%);
    transform: translate(-50%, -50%);

    i {
      font-size: 15vw;
      color: white;
      animation: Spinner 2s ease-in-out 0s infinite normal none;
    }
  }
}

